---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Edy Espinal">
  <main
    class="max-w-screen-md mx-auto p-4 flex flex-col items-center justify-center h-screen gap-2"
  >
    <img
      src="https://github.com/edyespinal.png"
      alt="Edy Espinal"
      class="rounded-full mb-2"
      height="128"
      width="128"
    />
    <h1 class="font-mono">hello world</h1>
    <section class="flex gap-4 justify-center">
      <a
        href="https://instagram.com/edy.espinal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/instagram.svg" alt="edy espinal" width="32" height="32" />
      </a>
      <a
        href="https://github.com/edyespinal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/github.svg" alt="edy espinal" width="32" height="32" />
      </a>
      <a
        href="https://linkedin.com/in/edyespinal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/linkedin.svg" alt="edy espinal" width="30" height="30" />
      </a>
    </section>
  </main>
</Layout>
