---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Edy Espinal">
  <main
    class="absolute bottom-16 w-full flex flex-col gap-y-16 px-8 lg:items-end lg:flex-row lg:px-20 lg:gap-x-8 lg:gap-y-0"
  >
    <section class="flex flex-col gap-y-8 flex-1">
      <div
        class="flex flex-col gap-x-8 gap-y-4 lg:items-end lg:flex-row lg:gap-y-0"
      >
        <Image
          src="https://github.com/edyespinal.png"
          alt="Edy Espinal"
          class="rounded-full"
          height={128}
          width={128}
          inferSize
        />
        <h1
          class="font-primary font-bold tracking-tighter text-5xl md:text-7xl"
        >
          <p class="leading-[0.65]">Edy</p>
          <p>Espinal</p>
        </h1>
      </div>

      <div
        class="flex flex-col gap-x-16 gap-y-4 md:flex-row md:gap-y-0 md:gap-x-24"
      >
        <div>
          <h2>full stack developer</h2>
          <p class="opacity-50">based in Barcelona</p>
        </div>
        <div>
          <p class="opacity-50">get in touch</p>
          <a href="mailto:contacto@edyespinal.com">contacto@edyespinal.com</a>
        </div>
      </div>
    </section>

    <section class="flex gap-x-4 lg:flex-col lg:gap-x-0 lg:text-right">
      <a
        href="https://instagram.com/edy.espinal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="font-mono text-[0.65rem] opacity-50">01</span> instagram
      </a>
      <a
        href="https://github.com/edyespinal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="font-mono text-[0.65rem] opacity-50">02</span> github
      </a>
      <a
        href="https://linkedin.com/in/edyespinal"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="font-mono text-[0.65rem] opacity-50">03</span> linkedin
      </a>
    </section>
  </main>
</Layout>
